/*
STYLESHEET FOR JAVAFXGRAPH VISUALIZATION
*/

.graph {
    -fx-background-color: #F4FFFB;
}

.vertex {
    -fx-stroke-width: 1;
    -fx-stroke: #61B5F1;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: #B1DFF7;
}

.vertex-label {
    -fx-font: bold 8pt "sans-serif";
}

.edge {
    -fx-stroke-width: 0.5;
    -fx-stroke: #1f1c1c;
    -fx-fill: transparent; /*important for curved edges */
    -fx-stroke-line-cap: round;
    -fx-opacity: 0.8;
}

.edge-label {
    -fx-font: normal 5pt "sans-serif";
}

.arrow {
    ;
    -fx-stroke: #FF6D66;
    -fx-opacity: 0.8;
    -fx-fill: #333300;
}

/* Custom vertex. You should revert any unwanted styling in the default element,
   style, since custom styles will be appended to the default style */
.myVertex {
    -fx-stroke-width: 1;
    -fx-stroke: green;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: yellowgreen;
}